In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import numpy as np

nobeldf = pd.read_csv('archive.csv')
conn = sqlite3.connect("archive.db")
conn.execute('DROP TABLE IF EXISTS NOBEL_LAU')
conn.execute('''CREATE TABLE NOBEL_LAU (ID INT PRIMARY KEY NOT NULL, Category,
Prize,
Motivation,
Prize_Share,
Laureate_ID,
Laureate_Type,
Full_Name,
Birth_Date,
Birth_City,
Birth_Country,
Sex,Organization_Name,
Organization_City,
Organization_Country,
Death_Date,
Death_City,
Death_Country);''')
            




conn.commit()

In [41]:
df = pd.read_csv("archive.csv")
df.to_sql("nobel", conn, if_exists ='replace', index = False)

D:\Anaconda\lib\site-packages\pandas\core\generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [42]:
Chem = pd.read_sql_query('SELECT Organization_Country FROM nobel WHERE Prize LIKE "%Chemistry%" ORDER BY Organization_Country ASC LIMIT 154 ', conn)

DatabaseError: Execution failed on sql 'SELECT Organization_Country FROM nobel WHERE Prize LIKE "%Chemistry%" ORDER BY Organization_Country ASC LIMIT 154 ': no such column: Organization_Country

In [43]:
ChemCounts = Chem.Organization_Country.value_counts()

NameError: name 'Chem' is not defined

In [44]:
y_pos = np.arange(len(ChemCounts))
labels = ['usa',
'uk',
'germany',
'federal republic of germany',
'france',
'switzerland',
'japan',
'sweden',
'israel',
'canada',
'norway',
'austria',
'ussr',
'argentina',
'denmark',
'italy',
'czechoslovakia',
'belgium',
'finland',
'netherlands']

NameError: name 'ChemCounts' is not defined

In [45]:
plt.rcdefaults()
fig, ax = plt.subplots()

cmap = plt.get_cmap("tab20")
y_pos = np.arange(len(ChemCounts))
colors=cmap(np.arange(20))

ax.barh(y_pos, ChemCounts,  align='center',
        color=colors)
ax.set_yticks(y_pos)
ax.set_yticklabels(labels)
ax.invert_yaxis()  # labels read top-to-bottom
ax.set_xlabel('Totals')
ax.set_title('Number of Nobel Prizes for Chemistry By Country')

plt.show()

NameError: name 'ChemCounts' is not defined